[graph]
all-features = false
no-default-features = false

[output]
feature-depth = 1

[advisories]
[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
]
confidence-threshold = 0.8
exceptions = [
    { allow = ["Zlib"], crate = "foldhash" },
    { allow = ["BSD-3-Clause"], crate = "wellen" },
    { allow = ["BSD-3-Clause"], crate = "fst-reader" },
    { allow = ["BSD-3-Clause"], crate = "encoding_rs" },
    { allow = ["Unicode-3.0"], crate = "unicode-ident" },
]

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"
workspace-default-features = "allow"
external-default-features = "allow"

[sources]
unknown-registry = "warn"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
